.App {
  text-align: center;
}

.App-logo {
  width: 100%;
  height: auto;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  margin-right: auto;
  margin-left: 100px;
}

h1{
  text-shadow: 2px 2px 5px;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  width: 600px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: calc(50px + 2vmin);
  text-align: center;
}

h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  position: relative;
  width: 600px;
  padding-left: 100px;
}

h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  position: relative;
  width: 600px;
  padding-left: 100px;
}
img {
  width: 50%;
  height: auto;
  border-radius: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px solid grey;
  background-color: blueviolet;
}


address {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 320px;
  font-size: xx-large;
  padding-left: 900px;
  margin: 0;
}


.App-header {
  background-color: #17e4d3;
  color: rgb(27, 27, 19);
}

.App-link {
  color: #61dafb;
}

